/*!CK:3065257554!*//*1433193211,*/

.sp_wvg9_obuCd8{background-image:url(/rsrc.php/v2/yA/r/GcmGO6QuKkw.png);background-size:35px 172px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_wvg9_obuCd8.sx_531227{background-position:0 -138px}.sp_wvg9_obuCd8.sx_6d5e09{background-position:-17px -138px}.sp_wvg9_obuCd8.sx_c34fb7{background-position:0 -155px}.sp_wvg9_obuCd8.sx_d0574f{width:34px;height:68px;background-position:0 0}.sp_wvg9_obuCd8.sx_143981{width:34px;height:68px;background-position:0 -69px}

#bootloader_q5WKG { height: 42px; }
.bootloader_q5WKG { display:block !important; }